element {
    --logo-bg-color: #4AC9FD;
    --theme-bg-color: #BBFFFF;
}

.circle {
    background-color: black;
    width: 83%;
    height: 83%;
    border-radius: 50%;

}

.empty {
    background-color: white;
}

.playerOne {
    background-color: red;
}

.playerTwo {
    background-color: yellow;
}

